<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
    <!-- Javascript Sources: jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/bootstrap/jquery-3.3.1.slim.min.js"></script>
    <script src="/bootstrap/popper.min.js"></script>
    <script src="/bootstrap/bootstrap.min.js"></script>

    <script src="/animation/modernizr.min.js" type="text/javascript" async></script>
    <link rel="stylesheet" href="/stylesheets/landing.css">

    <nav width="100%" style="z-index:2;" class=" w-100 navbar navbar-expand-lg navbar-light bg-light ">
        <a class="navbar-brand" href="/">MCTI</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/gallery">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://cti.site.live/">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Account
			  </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <%if(!currentUser){%>
                            <a class="dropdown-item" href="/login">Login</a>
                            <a class="dropdown-item" href="/register">Sign Up</a>
                            <%}else{%>
                                <a class="dropdown-item" href="/logout">Logout</a>
                                <%}%>
                    </div>
                </li>
                <li>
                    <div class="w-75 mcti-welcome p-sm-0 pr-lg-5 m-sm-0 ml-xl-5 pl-xl-4 d-flex justify-content-lg-center">
                        <div class="w-75 p-sm-0 m-sm-0 mr-lg-5 pr-lg-5 ml-xl-5   d-flex justify-content-start">
                            <div class="w-50 p-sm-0 m-sm-0  mr-lg-5 pr-lg-5 ml-xl-5  d-flex justify-content-end">
                                <p class=" p-sm-0 m-sm-0 mr-lg-5 pr-lg-3 pr-xl-0 mr-xl-0 text-nowrap mcti-welcome-font pt-1 text-uppercase text-center h5 text-dark">Welcome To MCTI</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <% if(error && error.length > 0){%>
            <div class="alert alert-danger" role="alert">
                <%= error%>
            </div>
            <%}%>
                <% if(success && success.length > 0){ %>
                    <div class="alert alert-success" role="alert">
                        <%= success%>
                    </div>
                    <%}%>
    </div>

</head>



<body class="mcti-color">

    <div class="slideshow">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>



</body>
<footer class="mcti-footer">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="py-3 navbar-brand">Masbate Central Technical Institute</a>
    </nav>

    <div class="mcti-btn d-flex align-sm-auto flex-column align-items-center">
        <a href="/gallery"><img width=40px alt="CTI Logo" src="../images/ctiLogo.png "></a>
        <a href="/gallery" class="text-dark font-weight-bold">Enter</a>
    </div>

</footer>