<% include ./partials/header %>
    <script src="/animation/modernizr.min.js" type="text/javascript" async></script>
    <link rel="stylesheet" href="/stylesheets/landing.css">

    <body>
        <div class="mcti-content mcti-color">
            <div class="container"></div>
            <div class="h-100 row flex-column align-items-center mcti-message ">
                <div class="col-10">
                    <h1>
                        <p class="text-center text-uppercase display-1 text-light font-weight-bold">Welcome To MCTI</p>
                    </h1>
                </div>
                <div class="col-2">
                    <button href="/gallery " class="mt-3 px-5 pt-2 pb-1 btn btn-light"><img width=40rem class="img-fluid" src="../images/ctiLogo.png "><br>Enter</button>

                </div>
            </div>
        </div>
        </div>



        <div class="slideshow">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="slideshow2">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>



        </div>


    </body>
    <footer class="mcti-footer">
        <nav class="navbar navbar-expand-lg navbar-light bg-light ">
            <a class="navbar-brand " href="# ">
                <img class="m-1 " src="../images/ctiLogo.png " width="30 " height="30 " class="d-inline-block align-top " alt=" "> &nbsp;&nbsp;Masbate Central Technical Institute
            </a>
        </nav>
    </footer>